<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rashed.md.gpssecurity">


    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bike_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bike_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rashed.md.gpssecurity.SmsShowActivity"></activity>
        <activity android:name="com.rashed.md.gpssecurity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rashed.md.gpssecurity.MainActivity">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </activity>
        <activity android:name="com.rashed.md.gpssecurity.InputPhoneNumberActivity" />

        <receiver android:name="com.rashed.md.gpssecurity.SmsReceiverClass">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.rashed.md.gpssecurity.GoogleMapViewClass" />
    </application>

</manifest>